ion-progress-bar {
  height: 6px;
  border-radius: 2px;
}

.text-gray {
  color: #969696;
}

.card-content-md {
  padding-left: 0;
  padding-right: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  font-size: 14px;
  line-height: 1.5;
}

.card-content-md {
  /* padding-left: unset; */
  /* padding-right: unset; */
  -webkit-padding-start: 0;
  padding-inline-start: 0;
  -webkit-padding-end: 0;
  padding-inline-end: 0;
}

/* IP5 320 x 568 */
ion-card-title.text-center.ion-inherit-color.ios.hydrated {
    font-size: 20px;
}

ion-card-subtitle.text-center.ion-inherit-color.ios.hydrated {
    font-weight: 100;
    font-size: 11px;
}
* {
    padding: 0;
    margin: 0;
  }
  
  .h-22 {
    height: 22px;
  }
  
  .number {
    font-size: 20px;
    font-weight: 800;
    color: #000000;
  }

  .number-small {
    font-size: 14px;
    font-weight: 800;
    color: #000000;
  }
  
  .title {
    font-size: 18px;
    font-weight: 800;
    color: #000000;
    margin: 20px 0;
  }
  
  .p-8 {
    padding: 8px;
  }
  
  .my-8 {
    margin: 8px 0;
  }
  
  .mb-16 {
    margin-bottom: 16px;
  }
  
  .m-8 {
    margin: 8px;
  }
  
  .pl-8 {
    padding-left: 8px;
  }
  
  .border-bottom {
    border-bottom: 8px solid #E7E8EA;
  }
  
  .pl-20 {
    padding-left: 14px;;
  }
  
  .color-white {
    color: #ffffff;
  }
  
  .text-center {
    text-align: center;
  }
  
  .text-end {
    text-align: right;
  }
  
  .text-small {
    font-size: 13px;
  }
  
  .font-size-20 {
    font-size: 20px;
  }
  
  .font-size-12 {
    font-size: 12px;
  }
  
  .text-bold {
    font-weight: 800;
  }