/* IP5 320 x 568 */
ion-card-title.text-center.ion-inherit-color.ios.hydrated {
    font-size: 20px;
}

ion-card-subtitle.text-center.ion-inherit-color.ios.hydrated {
    font-weight: 100;
    font-size: 11px;
}